// - Custom Color variables
$primary:       #486AE2
$primary-dark:  #1838BD
$primary-black: #363853

$color-white:   #FFFFFF

// -- Text Color variables
$text-color-100: #F9F9FC
$text-color-200: #F8F7FA
$text-color-300: #F1F3F6
$text-color-400: #E8EAEF
$text-color-500: #D2D2E0
$text-color-700: #979AA4
$text-color-800: #464D64
$text-color-900: #151622
$text-color-status: #00A469
$text-color-delete: #FF7171

$text-color-base:      $text-color-900
$text-color-secondary: $text-color-700

// -- Background Color variables
$bg-body-base: #E8EAEF
$bg-orange: #FFB179
$bg-table-status: #EAF3EB
