// - Custom Color variables
$primary:       #486AE2
$primary-dark:  #1838BD
$primary-black: #363853

// -- Text Color variables
$text-color-500: #D2D2E0
$text-color-700: #979AA4
$text-color-800: #464D64
$text-color-900: #151622

$text-color-base:      $text-color-900
$text-color-secondary: $text-color-700
