// - Custom font variables
@use 'sass:math'

$font-family-primary: "Google Sans", sans-serif

// - Font weight
$font-weight-light:   300
$font-weight-regular: 400
$font-weight-medium:  500
$font-weight-bold:    700
$font-weight-black:   900

// Font size base in px
$font-size-base-px: 14px !default

// Font size
$font-size-none:         0rem
$font-size-nano:         1.0rem * (8px / $font-size-base-px)
$font-size-micro:        1.0rem * (10px / $font-size-base-px)
$font-size-small:        1.0rem * (12px / $font-size-base-px)
$font-size-base:         1.0rem
$font-size-medium:       1.0rem * (16px / $font-size-base-px)
$font-size-large:        1.0rem * (18px / $font-size-base-px)
$font-size-xlarge:       1.0rem * (20px / $font-size-base-px)
$font-size-2xlarge:      1.0rem * (22px / $font-size-base-px)
$font-size-3xlarge:      1.0rem * (24px / $font-size-base-px)
$font-size-4xlarge:      1.0rem * (30px / $font-size-base-px)

// - Line height rate
$line-height-base: 1.5
