// override common css class
// global
.text-heading
  font-size: 30px
  color: $text-color-900
  font-weight: $font-weight-bold
  line-height: calc(38 / 30)
  margin: 0

.text-subheading
  font-size: $font-size-small
  color: $text-color-700
  font-weight: $font-weight-regular
  line-height: calc(24 / 12)