// override common css class

// global
.text-heading
  font-size: 30px
  color: $text-color-900
  font-weight: $font-weight-bold
  line-height: calc(38 / 30)
  margin: 0

.text-subheading
  font-size: $font-size-small
  color: $text-color-700
  font-weight: $font-weight-regular
  line-height: calc(24 / 12)

// custom dropdown stock searh warehouse
$color-item-hover: #E8EAEF

.p-dropdown
    font-family: $font-family-primary !important
    
    &:not(.p-disable).p-focus
        box-shadow: none !important
        border-color: none !important

    .p-inputtext.p-placeholder
        font-family: $font-family-primary !important
        color: $text-color-700 !important
        line-height: calc(24 / 14)

    .p-inputtext
        font-family: $font-family-primary !important
        color: $text-color-900 !important
        line-height: calc(24 / 14)
        font-weight: 400
    
    .p-dropdown-items-wrapper
        max-height: 288px !important
        box-shadow: none

        &::-webkit-scrollbar
            width: 6px

        &::-webkit-scrollbar-thumb
            background: $text-color-secondary
            border-radius: 10px

    .p-dropdown-trigger-icon::before
        content: url('~/assets/icons/chevron-down.svg')

    .p-dropdown-items
        padding: 0 !important

    .p-dropdown-item
        font-family: $font-family-primary !important
        padding: 12px 0 12px 16px !important
        color: $text-color-900 !important

        &.p-highlight
            background-color: $primary !important
            color: #fff !important

        &:not(.p-highlight):not(.p-disabled):hover
            background-color: $color-item-hover !important

// custom multiSelect search category
#MultiSelectCatagory.p-multiselect
    .p-multiselect-trigger-icon::before
        content: url('~/assets/icons/chevron-down.svg')
    
    .p-multiselect-label.p-placeholder
        font-family: $font-family-primary !important
        color: $text-color-700 !important
        line-height: calc(24 / 14)

    .p-multiselect-label
        font-family: $font-family-primary !important
        color: $text-color-900 !important
        line-height: calc(24 / 14)
        font-weight: 400

    &:not(.p-disable).p-focus
        box-shadow: none !important
        border-color: none !important

    .p-multiselect-items-wrapper
        max-height: 288px !important
        box-shadow: none

        &::-webkit-scrollbar
            width: 6px

        &::-webkit-scrollbar-thumb
            background: $text-color-secondary
            border-radius: 10px

    .p-multiselect-header
        padding: 0 !important
        background-color: #fff
        .p-checkbox
            position: absolute !important
            z-index: 1
            border-bottom: none
            margin-left: 16px

        .p-checkbox-box
            border: 1.5px solid $text-color-500
            border-radius: 2px
        .p-inputtext
            width: 100% !important
            padding: 14px 0 14px 52px
            border: none
            font-family: $font-family-primary !important
            color: $text-color-900 !important
            line-height: calc(24 / 14)
            font-weight: 400

            &:focus
                box-shadow: none
                border: 1px solid $primary !important

        .p-multiselect-filter-icon::before
            content: url('~/assets/icons/search-mutiselect.svg')
        
    .p-multiselect-items
        padding: 0 !important
        font-family: $font-family-primary !important
        
        .p-multiselect-item
            padding: 12px 0 12px 16px !important
            color: $text-color-900 !important
            &.p-highlight
                background-color: $primary !important
                color: #fff !important
            &:not(.p-highlight):not(.p-disabled):hover
                background-color: $color-item-hover !important
            .p-checkbox
                margin-right: 18px !important 
                
            .p-checkbox-box
                border: 1.5px solid $text-color-500
                border-radius: 2px

                &.p-highlight
                  background-color: $primary !important  
                  border: 2px solid #fff !important
            &:focus
                box-shadow: none !important
    .p-multiselect-close
        display: none !important


// custom input seach code stock
#inputSearchCode
    border: 1.5px solid $primary !important
    padding: 8px !important
    font-family: $font-family-primary !important
    color: $text-color-900 !important
    line-height: calc(24 / 14)
    font-weight: 400

    &:focus
        box-shadow: none !important

    &:focus + i
        background-color: $primary !important

    &::placeholder
        font-family: $font-family-primary !important
        color: $text-color-700 !important
        line-height: calc(24 / 14)

// custom input search stock
#inputSearch
    height: 48px
    border: none
    width: 300px

    &::placeholder
        font-size: $font-size-base
        color: $text-color-500
        line-height: calc(24 / 14)
        
    &.p-inputtext:enabled:focus
        box-shadow: none
        border: none
    