// - Custom css font classes

.font-black
  font-weight: $font-weight-black !important

.font-size-4xlarge
  font-size: $font-size-4xlarge

.font-sm
  font-size: $font-size-small !important

.font-md
  font-size: $font-size-medium !important
