// - Custom css classes for icons
// -- Variables

$icon-size-small:  16px !default
$icon-size-base:   18px !default
$icon-size-medium: 20px !default
$icon-size-large:  24px !default

$icon-padding-base: 16px

// --- List name of icons
$icons: house-2, lock-open, sms, search-input, filter-btn, plus, delete, edit, arrow-up-right, chevron-up, footer-paginator

// -- custom css
.icon
  @include size($icon-size-base)
  @include centerAbsolute(top)
  content: ''

  &--left
    left: $icon-padding-base

  &--right
    right: $icon-padding-base

  &--center
    @include centerAbsolute(both)

  &--base
    @include size($icon-size-base)

  &--small
    @include size($icon-size-small)

  &--large
    @include size($icon-size-large)

@each $i in $icons
  .icon-#{$i}
    background-color: $text-color-base
    mask-image:       url('~/assets/icons/#{$i}.svg')
    mask-size:        cover

